<phpunit
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	bootstrap="test/unit/bootstrap.php"
	>
	<!-- printerClass="Gignite_Util_TestDox_ResultPrinter_Text" -->
	<testsuites>
		<testsuite>
			<directory suffix=".php">test/unit/Gignite/StateMachine/Specs</directory>
		</testsuite>
	</testsuites>
	<groups>
		<include>
			<group>statemachine</group>
		</include>
	</groups>
	<logging>
		<log
			type="coverage-html"
			target="test/unit/coverage"
			charset="UTF-8"
			yui="true"
			highlight="true"
			lowUpperBound="35"
			highLowerBound="70"
			/>
		<log
			type="coverage-clover"
			target="test/unit/coverage.xml"
			/>	 
		<log
			type="junit"
			target="test/unit/junit.xml"
			logIncompleteSkipped="false"
			/>
	</logging>
</phpunit>